@media (min-width: $mobile) {
    .modal {
        width: 320px;
        height: 100vh;
        padding: 24px 16px 0 16px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        background: white;

        &__close {
            display: inline-block;
            line-height: 0;
        }

        &__title {
            margin-top: 40px;
            line-height: 32px;
            letter-spacing: -0.6px;
        }

        &__title::before  {
            content: "";
            width: 4px;
            height: 40px;
            background-color: var(--color-cyan);
            border-radius: 0 8px 8px 0;
            position: absolute;
            left: 0;
            transform: translateY(-6px);
        }

        &__form-name,
        &__form-tel,
        &__form-email,
        &__form-message {
            width: 100%;
            margin-top: 16px;
            padding: 16px 12px;
            border: 1px solid #EAEAEA;
            border-radius: 6px;
            line-height: 24px;
            letter-spacing: -0.2px;
            font-weight: 500;
        }
    
        &__form-name {
            margin-top: 24px;
        }

        &__notice {
            margin-top: 16px;
            color: #7E7E82;
            font-size: 14px;
            font-weight: 500;
        }

        &__notice-link {
            color: #FF3E79;
        }

        &__submit {
            margin-top: 18px;
            width: 136px;
            height: 32px;
            background: url("../../svg/send.svg");
            border-radius: 16px;
            border: none;
            cursor: pointer;
        }
    }
}

@media (min-width: $desktop) {
    .modal {
        width: 440px;
        padding: 32px 32px 0 32px;
        border-left: var(--border-section);

        &__close {
            position: absolute;
            left: -60px;
        }

        &__title {
            margin-top: 6px;
        }
    }
}