@font-face {
    font-family: 'TT Lakes';
    src: url('font/TTLakes/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('font/TTLakes/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/TTLakes/TTLakes-Medium.woff') format('woff'),
        url('font/TTLakes/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('font/TTLakes/TTLakes-ExtraBold.eot');
    src: local('TT Lakes ExtraBold'), local('TTLakes-ExtraBold'),
        url('font/TTLakes/TTLakes-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('font/TTLakes/TTLakes-ExtraBold.woff') format('woff'),
        url('font/TTLakes/TTLakes-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "TT Lakes";
    color: #1B1C21;
    line-height: 0;
    letter-spacing: -0.2px;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    padding: 0 24px;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}

.mobile-menu__m-header {
    height: 86px;
}

.m-header {
    display: flex;
    align-items: center;
}

.m-header__logo {
    margin-left: 17px;
}

.m-header__search {
    margin-left: auto;
}

.mobile-menu__m-nav {
    margin-top: 30px;
}

.m-nav {
    line-height: 24px;
}

.m-nav__list {
    list-style: none;
}

.m-nav__item:not(:first-child) {
    margin-top: 32px;
}

.m-nav__link {
    text-decoration: none;
    color: inherit;
}

.m-nav__link--active {
    color: #7E7E82;
}

.m-nav__link--active::before {
    content: "";
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-radius: 0 8px 8px 0;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    cursor: default;
}

.mobile-menu__m-footer {
    margin: auto 0 32px;
}

.m-footer__call,
.m-footer__chat,
.m-footer__profile {
    display: inline-block;
    margin-right: 16px;
}

.m-footer__address-block {
    margin-top: 16px;
}

.m-footer__address-mail, .m-footer__address-tel {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-style: normal;
}

.m-footer__address-mail {
    line-height: 24px;
}

.m-footer__address-tel {
    margin-top: 12px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: bold;
}

.m-footer__lang-block {
    list-style: none;
    margin-top: 40px;
}

.m-footer__lang-item {
    display: inline-block;
    margin-right: 7px;
    line-height: 24px;
}

.m-footer__lang-link {
    text-decoration: none;
    color: inherit;
}

.m-footer__lang-link--active {
    color: #7E7E82;
}