@font-face {
    font-family: 'TT Lakes';
    src: url('font/TTLakes/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('font/TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/TTLakes/TTLakes-Regular.woff') format('woff'),
        url('font/TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "TT Lakes";
    line-height: 0;
}

@media (min-width: 320px) {
    .container {
        padding: 0 16px;
    }

    .services {
        background: #F8F8F8;
        border-top: 1px solid #D9FFF5;
    }

    .services__header {
        background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 100%);
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .services__title {
        font-size: 16px;
        font-weight: normal;
        color: #7E7E82;
        letter-spacing: -0.2px;
        line-height: 24px;
        text-transform: uppercase;
    }

    .services__slider {
        margin: 16px -16px 0 -16px;
    }

    .services__slider::before {
        content: "";
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
        width: 16px;
        height: 72px;
        background-image: linear-gradient(to left, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 1) 100%);
    }

    .services__slider::after {
        content: "";
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        width: 24px;
        height: 72px;
        background-image: linear-gradient(to right, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 1) 100%);
        pointer-events: none;
    }

    .slider__slide-list {
        padding-left: 16px;
    }

    .slider__slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 240px;
        height: 72px;
        margin-right: 16px;
        padding: 0 16px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
    }

    .slider__pagination {
        margin-top: 16px;
        text-align: center;
        margin-bottom: 38px;
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: #DDDDDD;
    }

    .swiper-pagination-bullet-active {
        background: #B5B6BC;
    }

    .expand {
        display: none;
    }
}





@media (min-width: 768px) {
    .container {
        padding: 0 24px;
    }

    .services__header {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .services__slider {
        margin: 0;
        padding-top: 24px;
    }

    .services__slider::before {
        background-image: none;
    }

    .services__slider::after {
        background-image: none;
    }

    .slider__slide-list {
        padding: 0;
    }

    .slider__slide-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 224px);
        gap: 16px 24px;
    }

    .slider__slide {
        width: auto;
        margin: 0;
    }

    .slider__slide:nth-child(n + 7) {
        display: none;
    }

    .slider__slide--visible:nth-child(n) {
        display: flex;
    }

    .slider__expand {
        margin: 24px 0 34px;
        width: max-content;
    }

    .expand {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .expand__text {
        color: #1B1C21;
        margin-left: 9px;
        letter-spacing: -0.2px;
    }
}





@media (min-width: 1120px) {
    .container {
        width: 1120px;
        margin: 0 auto;
        padding: 0 32px;
    }

    .services__header {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .slider__slide-list {
        grid-template-columns: repeat(auto-fill, 240px);
        gap: 16px 32px;
    }

    .slider__slide:nth-child(n) {
        display: flex;
    }

    .slider__slide:nth-child(n + 9) {
        display: none;
    }

    .slider__slide--visible:nth-child(n) {
        display: flex;
    }
}