@media (min-width: 320px) {
    .description {
        font-size: 14px;
        line-height: 0;
        letter-spacing: 0.2px;

        &__paragraphs {
            line-height: 18px;
        }
    
        &__paragraph-last {
            display: none;
        }
    
        &__expand {
            margin-top: 16px;
            width: max-content;
        }
    
        &__image {
            margin-top: 16px;
            margin: 16px 0 0 -16px;
        }
    }
}

@media (min-width: 768px) {
    .description {
        &__paragraphs {
            margin-right: 48px;
            line-height: 20px;
        }
    
        &__paragraph-last {
            display: block;
            margin-top: 20px;
        }
    
        &__paragraph-last-span {
            display: none;
        }
    
        &__expand {
            margin-top: 10px;
        }
    
        &__image {
            margin: 0;
            width: 360px;
            height: 208px;
            border-radius: 6px;
        }
    }
}

@media (min-width: 1120px) {
    .description {
        &__paragraphs {
            margin-right: 36px;
        }
    
        &__paragraph-last-span {
            display: inline;
        }
    
        &__expand {
            margin-top: 14px;
        }
    
        &__image {
            width: 531px;
            height: 307px;
        }
    }
}