$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

@media (min-width: $desktop) {
    .flex-wrapper {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: $mobile) {
    .container {
        padding: 0 16px;
    }
}

@media (min-width: $tablet) {
    .container {
        padding: 0 24px;
    }
}

@media (min-width: $desktop) {
    .container {
        width: 1120px;
        padding: 0 32px;
    }
}

.concealing-layer {
    visibility: hidden;
    position: fixed;
    inset: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.96);

    &--active {
        visibility: visible;
    }
}