@media (min-width: $mobile) {
    .repair {
        --gradient-background-before: var(--gradient-background-left);
        --gradient-background-after: var(--gradient-background-right);

        border-top: var(--border-section);

        &__header {
            background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 100%);
            padding: 16px 0;
        }

        &__slider {
            margin: 16px -16px 0 -16px;
        }

        &__slider::before {
            content: "";
            position: absolute;
            z-index: 10;
            left: 0;
            top: 0;
            width: 16px;
            height: 160px;
            background-image: var(--gradient-background-before);
            pointer-events: none;
        }
    
        &__slider::after {
            content: "";
            position: absolute;
            z-index: 10;
            right: 0;
            top: 0;
            width: 24px;
            height: 160px;
            background-image: var(--gradient-background-after);
            pointer-events: none;
        }
    }
}

@media (min-width: $tablet) {
    .repair {
        &__slider {
            margin: 0;
            padding-top: 24px;
        }
    
        &__slider::before,
        &__slider::after {
            background-image: none;
        }
    }
}