@media (min-width: $mobile) {
    .m-nav {
        line-height: 24px;
            
        &__list {
            list-style: none;
        }
        
        &__item:not(:first-child) {
            margin-top: 32px;
        }
        
        &__link {
            text-decoration: none;
            color: inherit;
        }
    }

    .m-nav__link--active {
        color: #7E7E82;

        &:before {
            content: "";
            width: 4px;
            height: 32px;
            background-color: #41F6D7;
            border-radius: 0 8px 8px 0;
            position: absolute;
            left: 0;
            transform: translateY(-4px);
            cursor: default;
        }
    }
}