@media (min-width: 320px) {
    .brands {
        background: #F8F8F8;
        border-top: 1px solid #D9FFF5;

        &__header {
            background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 100%);
            padding: 16px 0;
        }
    
        &__title {
            font-size: 16px;
            font-weight: normal;
            color: #7E7E82;
            letter-spacing: -0.2px;
            line-height: 24px;
            text-transform: uppercase;
        }

        &__slider {
            margin: 16px -16px 0 -16px;
        }

        &__slider::before {
            content: "";
            position: absolute;
            z-index: 10;
            left: 0;
            top: 0;
            width: 16px;
            height: 72px;
            background-image: linear-gradient(to left, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 1) 100%);
            pointer-events: none;
        }
    
        &__slider::after {
            content: "";
            position: absolute;
            z-index: 10;
            right: 0;
            top: 0;
            width: 24px;
            height: 72px;
            background-image: linear-gradient(to right, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 1) 100%);
            pointer-events: none;
        }
    }
}

@media (min-width: 768px) {
    .brands {    
        &__slider {
            margin: 0;
            padding-top: 24px;
        }
    
        &__slider::before {
            background-image: none;
        }
    
        &__slider::after {
            background-image: none;
        }
    }
}