@media (min-width: $mobile) {
    .header {
        display: flex;
        align-items: center;
        height: 88px;
        background: white;
        line-height: 0;

        &__logo {
            margin-left: 16px;
        }

        &__divider {
            margin-left: 16px;
            width: 2px;
            height: 32px;
            border-radius: 1px;
            background: #EAEAEA;

            &:nth-of-type(1) {
                display: none;
            }
        }
    
        &__call,
        &__feedback,
        &__profile {
            display: none;
        }

        &__repair {
            margin-left: 20px;

            &-text {
                display: none;
            }
        }
    
        &__checkstatus {
            margin-left: 16px;

            &-text {
                display: none;
            }
        }
    }
}

@media (min-width: $tablet) {
    .header {
        &__divider:nth-of-type(1) {
            display: block;
        }
    
        &__call {
            display: block;
            margin-left: auto;
        }
    
        &__feedback,
        &__profile {
            display: block;
            margin-left: 16px;
        }
    }
}

@media (min-width: $desktop) {
    .header {
        height: 0;
        border-bottom: none;

        &__burger,
        &__divider:nth-of-type(1n),
        &__logo,
        &__call,
        &__feedback,
        &__profile {
            display: none;
        }

        &__repair,
        &__checkstatus {
            display: flex;
            align-items: center;
            position: relative;
            top: 62px;
            z-index: 1;

            &-text {
                display: block;
                margin-right: 8px;
            }
        }

        &__repair {
            margin-left: auto;
        }
    
        &__checkstatus {
            margin-left: 32px;
        }
    }
}